<div id="tops" class="centered">
    <div id="contribuidores">
        <h1>Top 5 Contribuidores</h1>
        <ol>
            <li><a href="@Url.Action("barbara", "User")">Bárbara</a></li>
            <li><a href="@Url.Action("cesar", "User")">César</a></li>
            <li><a href="@Url.Action("rocha", "User")">Rocha</a></li>
            <li><a href="@Url.Action("tiago", "User")">Tiago</a></li>
            <li><a href="@Url.Action("artur", "User")">Artur</a></li>
        </ol>
    </div>
    <div id="ideias">
        <h1>Top 5 Ideias</h1>
        <ol>
            <li><a href="@Url.Action("papel", "Idea")">Papel</a></li>
            <li><a href="@Url.Action("pinguim", "Idea")">Pinguim</a></li>
            <li><a href="@Url.Action("optimizar", "Idea")">Optimizar</a></li>
            <li><a href="@Url.Action("lorem", "Idea")">Lorem Ipsum cenas e coisas</a></li>
            <li><a href="@Url.Action("ac", "Idea")">Ar Condicionado</a></li>
        </ol>
    </div>
</div>