@{
    ViewBag.Title = "Início";
}

@section Nav
{
<ul id="nav">
    <li class="selected">@Html.ActionLink("início", "Index", "Home")</li>
    <li>@Html.ActionLink("as minhas ideias", "Index", "User")</li>
    <li>@Html.ActionLink("estatísticas", "Index", "Stats")</li>
</ul>
}

<div id="tagline">
    <div class="centered">
        <img src="@Url.Content("~/Content/images/tagInicio.png")" alt="Submete a tua ideia" title="Submete a tua ideia" />
        <div class="submeter">
            @Html.ActionLink("Submeter Ideia", "Index", "User")
        </div>
    </div>
</div>
<div class="decoration"></div>
<div id="destaque">
    <div id="categorias">
        <ul>
            <li>@Html.ActionLink("Papel", "papel", "Categorias")</li>
            <li>@Html.ActionLink("WC", "wc", "Categorias")</li>
            <li>@Html.ActionLink("Secretárias", "secretarias", "Categorias")</li>
            <li>@Html.ActionLink("Cadeiras", "cadeiras", "Categorias")</li>
            <li>@Html.ActionLink("Portáteis", "portateis", "Categorias")</li>
        </ul>
    </div>
    <div id="ultimas">
        <h1>Título da Ideia</h1>
        <h2>Categoria: Consumo de Energia | 17 de Março 2012</h2>
        <p>
            Lorem Ipsum cvenas e coiso
        </p>
        <h2>Submetida por: BB</h2>
    </div>
</div>