@using System.Globalization
@model WebIdeas.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Início";
    var lastIdea = Model.LastIdea;
}

@section Nav
{
@Html.Partial("_Nav", "Home")
}
<div id="tagline">
    <div class="centered">
        <img src="/Content/images/tagInicio.png" alt="Submete a tua ideia" title="Submete a tua ideia" />
        <div class="submeter">
            @Html.ActionLink("Submeter Ideia", "Index", "User")
        </div>
    </div>
</div>
<div class="decoration"></div>
<div id="destaque">
    <div class="centered">
        @Html.Partial("_Categories")
        <a id="ultima" href="@Url.Action("Index", "Idea")">
            <h1>@lastIdea.Title</h1>
            <h2>Categoria: @lastIdea.Tag.Name | @lastIdea.Date.ToShortDateString()</h2>
            <p>
                @lastIdea.Text
            </p>
            <h2>Submetida por: @lastIdea.Contributer.Name</h2>
        </a>
    </div>
</div>
@Html.Partial("_Tops")