<div id="categorias">
    <ul>
        <li><a href="@Url.Action("papel", "Category")">Papel</a>
        <li><a href="@Url.Action("wc", "Category")">WC</a>
        <li><a href="@Url.Action("secretarias", "Category")">Secretárias</a>
        <li><a href="@Url.Action("cadeiras", "Category")">Cadeiras</a>
        <li><a href="@Url.Action("portateis", "Category")">Portáteis</a>
    </ul>
</div>